<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">SACAViX Learn</title>

    <meta property="og:title" th:content="${title}" />
    <meta property="og:description" th:content="${description}" />
    <meta property="og:image" th:content="${imageUrl}" />
    <meta property="og:url" th:content="${pageUrl}" />
    <meta property="og:type" content="website" /> <meta name="twitter:card" content="summary_large_image" /> <meta name="twitter:title" th:content="${title}" />
    <meta name="twitter:description" th:content="${description}" />
    <meta name="twitter:image" th:content="${imageUrl}" />

</head>
<body>
<h1>Loading information from SACAViX Learn...</h1>
</body>
</html>